.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding: 20px 6px;
  border-radius: 26px;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #31c48d;
  cursor: pointer;
}
